<ion-header> </ion-header>

<ion-content>
  <div class="container">
    <div class="header">
      <div class="score">
        <h1 class="score-text">{{ gameScore$ | async }}</h1>
      </div>
    </div>
    <div class="content" appInput>
      <app-game-board></app-game-board>
    </div>
    <div class="footer">
      <ion-button expand="full" color="light" strong="true" routerLink="/home"
        >Back</ion-button
      >
      <ion-button
        expand="full"
        color="light"
        strong="true"
        (click)="handleRestartGame()"
        >RESTART</ion-button
      >
    </div>
  </div>
</ion-content>
