<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <h1>FOREVER 2048</h1>
    </div>
    <div class="content">
      <ion-button expand="full" color="light" strong="true" routerLink="/game"
        >PLAY</ion-button
      >
      <ion-button expand="full" color="light" strong="true">ABOUT</ion-button>
      <ion-button expand="full" color="light" strong="true"
        >HOW TO PLAY</ion-button
      >
    </div>
  </div>
</ion-content>
